page-solution {

    .inprogress {
        font-style: italic;
        padding-bottom: 3vw;
    }

    .augmented {
        text-align: center;
        padding: 0px;
    }

    div {
        font-weight: bold;
        text-align: center
    }

    .header-txt {
        font-style: italic;
        font-size: 5vw;
    }

}
