<!--
  Generated template for the SolutionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{header}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Augemented Matrix</h1>
  <!-- <div class="inprogress"> in progress...</div> -->
  <div *ngFor="let row of matrices; let x = index;">
    <ion-row>
      <ion-col *ngFor="let column of row; let y = index">
        <ion-item class="augmented">
          {{column | number: '0.0-2'}}
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
  <h1>Row Echelon Form</h1>
  <div *ngFor="let row of echelon; let x = index;">
    <ion-row>
      <ion-col *ngFor="let column of row; let y = index">
        <ion-item class="augmented">
          {{column | number: '0.0-2'}}
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="showrref">
    <h1>Reduced Row Echelon Form</h1>
    <div *ngFor="let row of rechelon; let x = index;">
      <ion-row>
        <ion-col *ngFor="let column of row; let y = index">
          <ion-item class="augmented">
            {{column | number: '0.0-2'}}
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div *ngIf="method >= 3">
    <h1>Inverse Matrix</h1>
    <div *ngFor="let row of inverse; let x = index;">
      <ion-row>
        <ion-col *ngFor="let column of row; let y = index">
          <ion-item class="augmented">
            {{column | number: '0.0-2'}}
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="method == 3">
      <h1>Determinant</h1>
      <div>
        {{determinant}}
      </div>
    </div>
  </div>

  <div *ngIf="method == 4">
    <h1>Determinants</h1>
    <div *ngFor="let det of determinants; let x = index;">
      {{det}}
    </div>
  </div>

  <h1>Answer</h1>
  <div *ngFor="let answer of answers; let x = index;">
    {{answer}}
  </div>

  <button ion-button round block (click)="print()">Print Solution</button>
</ion-content>