<!--
  Generated template for the SolutionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{header}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="header-txt">AUGMENTED MATRIX</div>
  <!-- <div class="inprogress"> in progress...</div> -->
  <div *ngFor="let row of matrices; let x = index;">
    <ion-row>
      <ion-col *ngFor="let column of row; let y = index">
        <ion-item no-lines class="augmented">
          {{column | number: '0.0-2'}}
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
  <div class="header-txt">ROW ECHELON FORM</div>
  <div *ngFor="let row of echelon; let x = index;">
    <ion-row>
      <ion-col *ngFor="let column of row; let y = index">
        <ion-item no-lines class="augmented">
          {{column | number: '0.0-2'}}
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="showrref">
    <br />
    <div class="header-txt">REDUCED ROW ECHELON FORM</div>
    <div *ngFor="let row of rechelon; let x = index;">
      <ion-row>
        <ion-col *ngFor="let column of row; let y = index">
          <ion-item no-lines class="augmented">
            {{column | number: '0.0-2'}}
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div *ngIf="method >= 3">
    <br />

    <div class="header-txt">INVERSE MATRIX</div>
    <div *ngFor="let row of inverse; let x = index;">
      <ion-row>
        <ion-col *ngFor="let column of row; let y = index">
          <ion-item no-lines class="augmented">
            {{column | number: '0.0-2'}}
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="method == 3">
      <br />

      <div class="header-txt">DETERMINANT</div>
      <div>
        {{determinant}}
      </div>
      <h1></h1>
    </div>
  </div>

  <div *ngIf="method == 4">
    <br />

    <div class="header-txt">DETERMINANTS</div>
    <div *ngFor="let det of determinants; let x = index;">
      {{det}}
    </div>
    <h1></h1>
  </div>

  <div class="header-txt">SOLUTION</div>
  <div *ngFor="let answer of answers; let x = index;">
    {{answer  | number: '0.0-2'}}
  </div>

  <button ion-button color="danger" (click)="print()">PRINT</button>
</ion-content>