page-home {

.text-input {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 80%;
    padding: 0px;
}

.button-inner {
    width: 100%;
}

.scroll-content {
    padding-bottom: 0 !important;
}

.content {
    // background-color: #333399!important;
}

h1 {
    // color: #FFFFFF
}

.btn-input {
    margin-top: 4vw;
}


ion-select.myCustomSelect{
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

}
