<ion-header>
  <ion-navbar>
    <ion-title>
      Matrix Calculator
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="content">
  <ion-slides #sliders>
    <ion-slide class="page1">
      <h1>Select number of unknowns</h1>
      <h1></h1>
      <ion-list radio-group [(ngModel)]="unknowns" (ionChange)="changeSize($event)">
        <ion-item>
          <ion-label>2 x 2</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>3 x 3</ion-label>
          <ion-radio value="3"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>4 x 4</ion-label>
          <ion-radio value="4"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>5 x 5</ion-label>
          <ion-radio value="5"></ion-radio>
        </ion-item>

      </ion-list>

      <button ion-button round block (click)="move1(sliders)">Next</button>


    </ion-slide>
    <ion-slide>
      <h1>Enter coefficient and constant</h1>
      <h1></h1>

      <div *ngFor="let row of getRows(); let x = index;">
        <ion-row>
          <ion-col *ngFor="let column of getSize(); let y = index">
            <ion-item>
              <ion-input [id]="'input' + y" type="number" [(ngModel)]="matrix[getSize().length * x + y]"> </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>

      <button ion-button round block (click)="move2(sliders)">Next</button>

    </ion-slide>
    <ion-slide>
      <h1>Select method</h1>
      <h1></h1>
      <ion-list radio-group [(ngModel)]="method">
        <ion-item>
          <ion-label>Gaussian Elimination Method</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Gaus Jordan Elimnination Method</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Matrix Equation</ion-label>
          <ion-radio value="3"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Cramers Rule</ion-label>
          <ion-radio value="4"></ion-radio>
        </ion-item>

      </ion-list>

      <button ion-button round block (click)="solve()">Calculate</button>
    </ion-slide>
  </ion-slides>
</ion-content>