<ion-header>
  <ion-navbar>
    <ion-title>
      Matrix Solver
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="content">
  <ion-slides #sliders>
    <ion-slide class="page1">
      <div>NO. OF UNKNOWNS</div>
      <h1></h1>
      <!-- <ion-list  radio-group [(ngModel)]="unknowns" (ionChange)="changeSize($event)">
        <ion-item>
          <ion-label>2</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>3</ion-label>
          <ion-radio value="3"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>4</ion-label>
          <ion-radio value="4"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>5</ion-label>
          <ion-radio value="5"></ion-radio>
        </ion-item>

      </ion-list> -->
      <ion-item>
        <ion-select class="myCustomSelect" placeholder="Please select unknown count" [(ngModel)]="unknowns">
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
          <ion-option value="4">4</ion-option>
          <ion-option value="5">5</ion-option>
        </ion-select>
      </ion-item>


      <div style="margin-top: 9vw;">Which method?</div>
      <h1></h1>
      <ion-item>
        <ion-select class="myCustomSelect" placeholder="Please select method" [(ngModel)]="method">
          <ion-option value="1">Gaussian Elimination</ion-option>
          <ion-option value="2">Gaus Jordan Elimnination</ion-option>
          <ion-option value="3">Matrix Equation</ion-option>
          <ion-option value="4">Cramers Rule</ion-option>
        </ion-select>

      </ion-item>


      <button class="btn-input" ion-button color="danger" (click)="move1(sliders)">Input matrix values</button>


    </ion-slide>
    <ion-slide>
      <div>Fill the matrix</div>
      <h1></h1>

      <div *ngFor="let row of getRows(); let x = index;">
        <ion-row>
          <ion-col *ngFor="let column of getSize(); let y = index">
            <ion-item no-lines>
              <ion-input [id]="'input' + y" type="number" [(ngModel)]="matrix[getSize().length * x + y]"> </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>

      <button ion-button color="danger" (click)="solve()">SOLVE</button>

    </ion-slide>
    <ion-slide>

      <button ion-button round block (click)="solve()">Calculate</button>
    </ion-slide>
  </ion-slides>
</ion-content>