page-home {

.text-input {
    text-align: center;
    border: 1px solid black;
    width: 80%;
}

.button-inner {
    width: 100%;
}

.scroll-content {
    padding-bottom: 0 !important;
}

.content {
    // background-color: #333399!important;
}

h1 {
    // color: #FFFFFF
}

}
